<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{scene.title}}
    </mat-panel-title>
    <mat-panel-description>
      Type your name and age
      <mat-icon>account_circle</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <section class="content">
    <mat-table
      class="example-table"
      matSort
      matSortDisableClear
      matSortActive="created"
      matSortDirection="desc"
      [dataSource]="dataSource"
    >
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header>title</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.title}}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="createdDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>createdDate</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.createdDate | date:'short'}}</mat-cell>
      </ng-container> 
      
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.status}}</mat-cell>
      </ng-container> 
      

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [length]="resultsLength" [pageSize]="30" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </section>
</mat-expansion-panel>
