@mixin registration-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);

    #register-form {

        .separator {
            color: map-get($foreground, divider);

            .text {

                &:before,
                &:after {
                    border-top-color: map-get($foreground, divider);
                }
            }
        }
    }
}