<div id="login-form">

  <div class="logo" fxHide.gt-xs>
    <img src="assets/images/logos/logo_main.png">
  </div>

  <div class="title">SIGN IN TO YOUR ACCOUNT</div>

  <form name="loginForm" [formGroup]="loginForm" novalidate (ngSubmit)="signin()">

    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="userPhone">
      <mat-icon matSuffix class="secondary-text">phone</mat-icon>
      <mat-error *ngIf="loginForm.get('userPhone').hasError('required')">
        Phone is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="userPassword">
      <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
      <mat-error *ngIf="loginForm.get('userPassword').hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" class="submit-button" aria-label="SIGN IN" type="submit"
      [disabled]="loginForm.invalid">
      SIGN IN
    </button>

  </form>

  <div class="separator">
    <span class="text">OR</span>
  </div>

  <div fxLayout="column" fxLayoutAlign="start center">

    <button mat-raised-button color="accent" (click)="signup()">
      SIGN UP
    </button>
  </div>
</div>
